<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>My profile</h1>
    My username:{{ user.username }} <br>
    My email:{{ user.email }}<br>
    My password:{{ user.password }}
</body>
</html>