{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iVideo</title>
    <link rel="icon" href="{% static 'asset/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'asset/styles/style.css' %}">


    <link rel="stylesheet" href="{% static 'asset/vendor/fontawesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'asset/vendor/metisMenu/dist/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'asset/vendor/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'asset/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'asset/fonts/pe-icon-7-stroke/css/helper.css' %}">

</head>
<body>
{% block body %}
{% endblock %}

    <script src="{% static 'asset/vendor/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'asset/scripts/scripts.js'%}"></script>
    <script src="{% static 'asset/vendor/bootstrap/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'asset/scripts/homer.js'%}"></script>
    <script src="{% static 'asset/vendor/metisMenu/dist/metisMenu.min.js'%}"></script>
</body>
</html>