{% extends 'base.html' %}
{% load  staticfiles %}
{% block body %}

<div id="header">
		<div id="logo" class="light-version">
			<span>
				<center><a href="/">iVideo</a></center>
			</span>
		</div>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i>
            </div>
            <div class="small-logo">
				<span class="text-primary">iVideo</span>
			</div>

        <form action="javascript:Search()" class="navbar-form-custom">
            <div class="form-group">

			 <div class="input-group m-b">
                 <div class="input-group-btn">
                     <div class="btn-group">
                         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                             <span class="selection" id="search_method"><i class="pe-7s-play"></i> Видео</span>
                         </button>
                         <ul class="dropdown-menu" role="menu">
                             <li><a><i class="pe-7s-play"></i> Видео</a></li>
                             <li><a><i class="pe-7s-users"></i> Пользователи</a></li>
                         </ul>
                     </div>
                 </div>
                </div>
            </div>
        </form>
    </nav>
    </div>
    <aside id="menu">
        <div id="navigation">
            <div class="profile-picture">
                <a href="#">
                    <img src="{% static 'profiles/avatar/default.png' %}" width="78" height="78" class="img-circle m-b" alt="logo">
                </a>
                <div class="stats-label text-color">
                    <span class="font-extra-bold font-uppercase">Гость</span>
                </div>
            </div>
            <ul class="nav" id="side-menu">
                <li class="active"><a href="#"><span class="nav-label">Видео</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a href="#"> <span class="nav-label">Самые популярные</span></a>
                        </li>
                            <li><a href="contacts"> <span class="nav-label">Contacts</span></a>
                        </li>
                    </ul>
                </li>
                {% if not user.is_authenticated %}
                            <li><a href="{% url 'login' %}"> <span class="nav-label">Войти</span></a>
                        </li>
                        <li><a href="{% url 'register' %}"> <span class="nav-label">Регистрация</span></a>
                        </li>
                {% else %}
                             <li><a href="{% url 'logout' %}"> <span class="nav-label">Выйти</span></a>
                     </li>
                {% endif %}
            </ul>
    </div>
</aside>
    <div id="wrapper" style="min-height: 887px;">    <div class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <div id="hbreadcrumb" class="pull-right">
                    <ol class="hbreadcrumb breadcrumb">
                        <li class="active">
                            <span>Самые популярные </span>
                        </li>
                    </ol>
                </div>
                <h2 class="font-light m-b-xs">
                    <i class="pe-7s-look"></i> Самые популярные видео                </h2>
                <small>Здесь Вы можете просмотреть самые популярные видео сайта (на основе часов)</small>
            </div>
        </div>
    </div>

    <div id="sitefooter" class="small-header">
        <div class="hpanel">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    <b>iVideo</b>
                </h2>
             </div>
        </div>
    </div>
	</div>


{% endblock %}